<div class="ContactContainer row col-sm-12">
    <div id="contactMainDiv" class="row col-sm-9">
        <div class="leftDiv col-sm-1">
            <app-contact-list></app-contact-list>
        </div>
        <div class="MidDiv col-sm-7">
            <div>
                <h4>Contact Us</h4>
            </div>
            <div class="filed">
                <input type="text" name="name" placeholder="Full Name"/>
            </div>

            <div class="filed">
                <input type="email" name="email" placeholder="Email"/>
            </div>
            <div class="filed">
                
                <textarea name="message" id="textarea">Your Message
                </textarea>
            </div>
            <div>
                <input type="submit" value="send">
            </div>
            
        </div>
    
        <div class="rightDiv col-sm-4">
        </div>
    </div>
</div>
