<header [class]="{'bx_shadow': x}">
    <ul *ngIf="!loggedIn">
        <li id="li1"><a routerLink="/"><img src="assets/carte2.png" alt="Galai_Miel_Logo"></a></li>
        <li *ngFor="let elem of navList1" >
            <a routerLink="{{elem.url}}" routerLinkActive="active">{{elem.elm}}</a>
        </li>
    </ul>
    <ul *ngIf="loggedIn">
        <li id="li1"><a routerLink="/"><img src="assets/carte2.png" alt="Galai_Miel_Logo"></a></li>
        <li *ngFor="let elem of navList2" >
            <a *ngIf="elem.svg.length==0" routerLink="{{elem.url}}" routerLinkActive="active">{{elem.elm}}</a>
            <a *ngIf="elem.svg.length>0" routerLink="{{elem.url}}" routerLinkActive="active">
                <svg  class="svgCart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <path [attr.d]="elem.svg"></path>
                </svg>
            </a>
        </li>
    </ul>
    <div class="searchDiv">
        <input type="search" name="Search" id="Search" placeholder="Srearch For"/>
        <button><i class="fa fa-search"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#cd874e}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></i></button>
    </div>
    
</header>
