header{
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background: transparent;
    color: var(--secondColor);
    align-items: center;
    transition-duration: 1s;
    
}
.bx_shadow{
    transition-duration: 1s;
    background: linear-gradient(-40deg, var(--secondColor) 0%,var(--mainColor)20% );
    box-shadow: 3px 0 7px var(--secondColor);
    position: fixed;
    z-index: 33;
    top:0;
}
ul{
    height: 60px;
    list-style: none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 0;
    font-size: .91rem;
    padding-left: 1vw;
}
ul li{
    transition-duration: 1s;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 3px;
    font-size: .8rem;
}
ul #li1 a img{
    height: 2.8rem !important;
}
#li1 {
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    height: 60px;
    margin: 0;
    padding: 0;
}
#li1 a {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
li a {
    text-decoration: none;
    color:inherit;
    padding: 5px 10px 5px 10px;
    
}
li:hover a{
    transition-duration: 700ms;
    cursor: pointer;
    box-shadow: 0px 0px 7px var(--secondColor);
    border-radius: 3px;
    background-color: var(--secondColor);
    color: var(--mainColor);
    svg{
        fill: var(--mainColor) !important;
    }
    
}
#li1:hover{
    border:none;
}
input[type="search"]{
    width: 95px;
    height: 2rem;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: .6rem;
    color: var(--secondColor);
    font-weight: 500;
    outline: none;
    transition-duration: 1s;
    background-color: var(--mainColor);
    border: solid 1px var(--secondColor) !important;
    margin-top: 0;
    padding-top: 0;
    font-size: .85rem;


}

input[type="search"]:focus{
    width: 250px;
    border: none;
    background-color: var(--secondColor);
    color: var(--mainColor);
}
button{
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    margin-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px var(--secondColor);
}
i.fa.fa-search[_ngcontent-ng-c3289825534] {
    padding: 0;
    margin: 0;
    height: 26px;
    display: block;
}
button svg {
    background-color: transparent;
}

.searchDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 1vw;
    box-shadow: 0px 2px 8px rgba(195, 88, 17, 0.303);
    height: 35px !important;
}
li a svg{
    min-height: 20px;
    max-height: 50px;
    width: auto;
    transition-duration: 700ms;
}
.svgCart{  
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.svgCart:hover{
    fill: var(--mainColor) !important;
    border-radius: 3px;
}
.active{
    background-color: var(--secondColor);
    color: var(--mainColor) !important;
    border-radius: 3px;
}
.active {
    transition-duration: 700ms;
    .svgCart{
        transition-duration: 700ms;
    fill: var(--mainColor) !important;
    border-radius: 3px;
    }

}