.imageElem a img {
    border-radius: 11px;
    width: 100%;
    background-color:  var(--secondColor);
    //border: .5px solid var(--secondColor)
}
.imageElem{
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}
ul{
    height: 100%;
    list-style: none;
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}
.imageElem a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.imageElem a img:hover{
    background-color: var(--secondColor);
    box-shadow: 0 0 5px var(--secondColor);

}
app-contact-list{
    height: 100%;   
   }