<main>
    <form action="">
      <div class="wb">
        WELCOME BACK
      </div>
      <div class="example-container">
        <mat-form-field class="ema">
          <label for="email">Enter your email</label>
          <input matInput id="email" placeholder="galai@example.com" [formControl]="email" required>
          <app-err-msg *ngIf="email.invalid" [err]="getEmailErrorMessage()"></app-err-msg>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field class="ema">
          <label for="password">Password</label>
          <input matInput type="password" id="password" [formControl]="password" placeholder="Enter your password" required>
          <app-err-msg *ngIf="password.invalid" [err]="getPasswordErrorMessage()"></app-err-msg>
        </mat-form-field>
      </div>
      <div class="cont">
        <div class="chekb">
          <label for="remember">Remember Me</label>
          <input type="checkbox" name="remember" id="remember">
        </div>
        <div class="register">
          <a routerLink="/SignIn"><p>Create New Acount</p></a>
        </div>
      </div>

      <div class="center">
        <button class="btn" type="button" (click)="login()">Login</button>
      </div>
      <p>{{getPassAndEmailErrorMessage()}}</p>


    </form>
  </main>
  